<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/"><img src="https://images2.imgbox.com/74/f5/JiNmfaOM_o.png" alt="image host" width="200" /></a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="inserirDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Inserir
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="inserirDropdown">
          <a class="dropdown-item" href="/autores/inserir">Inserir Autor</a>
          <a class="dropdown-item" href="/editoras/inserir">Inserir Editora</a>
          <a class="dropdown-item" href="/generos/inserir">Inserir Gênero</a>
          <a class="dropdown-item" href="/livros/inserir">Inserir Livros</a>
          <a class="dropdown-item" href="/livros_autores/inserir">Inserir Livro-Autor</a>
          <a class="dropdown-item" href="/livros_editoras/inserir">Inserir Livro-Editora</a>
          <a class="dropdown-item" href="/livros_generos/inserir">Inserir Livro-Gênero</a>
          <a class="dropdown-item" href="/usuarios/inserir">Inserir Usuário</a>
        <a
          class="nav-link dropdown-toggle"
          id="inserirDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Inserir
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="inserirDropdown"
        >
          <a class="dropdown-item" href="/autores/inserir">Inserir Autor</a>
          <a class="dropdown-item" href="/livros_autores/inserir"
            >Inserir Livro-Autor</a
          >
          <a class="dropdown-item" href="/editoras/inserir">Inserir Editora</a>
          <a class="dropdown-item" href="/filmes_diretores/inserir"
            >Inserir Livro-Editora</a
          >
          <a class="dropdown-item" href="/generos/inserir">Inserir Gênero</a>
          <a class="dropdown-item" href="/filmes_generos/inserir"
            >Inserir Livro-Gênero</a
          >
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="inserirDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pesquisar
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="inserirDropdown">
          <a class="dropdown-item" href="/autores/pesquisar">Pesquisar Autor</a>
          <a class="dropdown-item" href="/diretores/pesquisar">Pesquisar Diretor</a>
          <a class="dropdown-item" href="/generos/pesquisar">Pesquisar Filmes por Gênero</a>
        <a
          class="nav-link dropdown-toggle"
          id="inserirDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Pesquisar
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="inserirDropdown"
        >
          <a class="dropdown-item" href="/autores/pesquisar">Pesquisar Autor</a>
          <a class="dropdown-item" href="/editoras/pesquisar"
            >Pesquisar Editora</a
          >
          <a class="dropdown-item" href="/generos/pesquisar"
            >Pesquisar Livros por Gênero</a
          >
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="inserirDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Editar
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="inserirDropdown">
          <a class="dropdown-item" href="/autores/editar/">Editar Autor</a>
          <a class="dropdown-item" href="/diretores/pesquisar">Pesquisar Diretor</a>
          <a class="dropdown-item" href="/generos/pesquisar">Pesquisar Filmes por Gênero</a>
        <a
          class="nav-link dropdown-toggle"
          id="atualizarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Editar
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="atualizarDropdown"
        >
          <a class="dropdown-item" href="/editoras/editar">Editar Editora</a>
          <a class="dropdown-item" href="/generos/editar">Editar Gênero</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="inserirDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Deletar
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="inserirDropdown">
          <a class="dropdown-item" href="/filmes/inserir">Deletar Filme</a>
          <a class="dropdown-item" href="/atores/inserir">Deletar Ator</a>
          <a class="dropdown-item" href="/diretores/inserir">Deletar Diretor</a>
        <a
          class="nav-link dropdown-toggle"
          id="inserirDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Deletar
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="inserirDropdown"
        >
          <a class="dropdown-item" href="/atores/inserir">Deletar Autor</a>
          <a class="dropdown-item" href="/diretores/inserir">Deletar Editora</a>
          <a class="dropdown-item" href="/generos/inserir">Deletar Gênero</a>
        </div>
      </li>
    </ul>
  </div>

  <form class="form-inline ml-3" action="/livros/pesquisar" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar livro por nome" name="nome" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Pesquisar
    </button>
  </form>

  <!-- Ícone de usuário -->
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/perfil-usuario">
              <i class="fa-solid fa-user"><img src="/assets/user.png" alt="user icon"></i> <!-- Ícone de usuário do Bootstrap (Bootstrap Icons) -->
          </a>
      </li>
  </ul>
</div>

</nav>

<!--usuario-->
