<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Gênero</title>
    <%- include('../../partials/estilizacao.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-5 min-vh-100">
      <h2>Editar Gênero</h2>
      <form id="updateForm" method="post" action="/generos/update">
        <input
          type="hidden"
          id="GeneroID"
          name="GeneroID"
          value="<%= genero.GeneroID %>"
        />
        <div class="form-group">
          <label for="NomeGenero">Nome do Gênero:</label>
          <input
            type="text"
            class="form-control"
            id="NomeGenero"
            name="NomeGenero"
            value="<%= genero.NomeGenero %>"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#successModal"
        >
          Confirmar Alterações
        </button>
      </form>
    </div>

    <div
      class="modal fade"
      id="successModal"
      tabindex="-1"
      aria-labelledby="successModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Sucesso!</h5>
          </div>
          <div class="modal-body">A alteração foi realizada com sucesso.</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
              onclick="window.location.href = '/generos'"
            >
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
